.basic-info {
    width:100%;
}

.name-container{
    background-color: indigo;
}

.tech-row{
    display: flex;
    flex-wrap: wrap;

}

.tech-badge {
    display: block;
    height: 20vh;
    
}

.tech-badge img {
    height: 100%;
    width: auto;
    max-width: 50vw;
}

.contact-container img {
    height: 42px;
    width: auto;
}

.languaje-container img {
    height: 1em;
}