.basic-info {
    width:100%;
}

.name-container{
    background-color: indigo;
}

.tech-row{
    display: flex;
}

.tech-badge {
    display: block;
    width: 25%;
}

.tech-badge img {
    
    max-width: 100%;
    width: auto;
}

.contact-container img {
    height: 42px;
    width: auto;
}

.languaje-container img {
    height: 1em;
}